:root {
  --small-spacing: 1rem;
  --mid-spacing: 3rem;
  --large-spacing: 5rem;
  --main-blue: #5696d1;
  --light-blue: #90bee9;
  --red: #ff5d5d;
  --maroon: #832056;
}

@import "_partials"
@import "_vendor/_prism"
