<header role="banner" class="main-header">
  <div class='mark'>
    <hgroup>
      <h1 class="blog-title bio-title"><a href="{{ root_url }}/">Ian Feather</a></h1>
      <h2 class="bio">Engineering at BuzzFeed</h2>
    </hgroup>
    <div class="contact-links">
      <a href="https://twitter.com/ianfeather">Twitter</a>
      <a href="https://github.com/Ianfeather">Github</a>
    </div>
  </div>
</header>
