<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body {% if bodyClass %}class="body {{ bodyClass }}"{% endif %}>

    <div id="content" class="content-inner grid-wrapper">
      {% include "header.njk" %}
      {{ content | safe }}
      {% if showSidebar %}
        {% include "sidebar.njk" %}
      {% endif %}
      {% include "google_analytics.html" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



