.footer-columns
  display: flex
  flex-direction: column
  +at(550)
    flex-direction: row
    flex-wrap: wrap
    .sidebar
      width: 50%

  +at(900)
    flex-wrap: nowrap

.footer
  padding: $small-spacing
  +at(900)
    padding: $small-spacing $mid-spacing
  +at(1000)
    padding: $small-spacing $large-spacing

  .sidebar
    +at(550)
      padding: 0 10px
    li
      margin-bottom: 5px

