---
layout: page
footer: false
---

<div class="blog-archives blog-index fewer-words">

  <p class="section-intro">I started this section so I coud write a few spontaneous posts without the pressure of following any essay-esque articles. As such, these are limited to under five hundred words and aren't strictly bound to any topic, including the web industry. They should buy me some rhythm and ideally allow me to enjoy writing freely again.</p>

  {% for post in site.posts reverse %}
    {% if post.categories contains 'fewer-words' %}
      <article class="blog-archive-entry">
        {% include fewer_words_post.html %}
      </article>
    {% endif %}
  {% endfor %}
</div>
