.grid-wrapper {
  zoom: 1;
  margin-left: -var(--small-spacing);
}
.grid-wrapper:before, .grid-wrapper:after {
  content: "";
  display: table;
}
.grid-wrapper:after {
  clear: both;
}
@media only screen and (min-width: 900px) {
  .grid-wrapper {
    margin-left: -var(--mid-spacing);
  }
}
@media only screen and (min-width: 1000px) {
  .grid-wrapper {
    margin-left: -var(--large-spacing);
  }
}

.single-column {
  padding-left: var(--small-spacing);
}
@media only screen and (min-width: 900px) {
  .single-column {
    float: left;
    padding-left: var(--mid-spacing);
  }
}
@media only screen and (min-width: 1000px) {
  .single-column {
    float: left;
    padding-left: var(--large-spacing);
  }
}
@media only screen and (min-width: 900px) {
  .single-column {
    width: 33.3333%;
  }
}

.double-column {
  padding-left: var(--small-spacing);
}
@media only screen and (min-width: 900px) {
  .double-column {
    float: left;
    padding-left: var(--mid-spacing);
  }
}
@media only screen and (min-width: 1000px) {
  .double-column {
    float: left;
    padding-left: var(--large-spacing);
  }
}
@media only screen and (min-width: 900px) {
  .double-column {
    width: 66.6666%;
  }
}
