em {
  font-style: italic;
}

figure {
  margin: 0;
}

.main-header {
  margin-bottom: var(--mid-spacing);
}

.mark {
  border-bottom: 1px dashed var(--maroon);
}
.mark .blog-subtitle {
  margin-bottom: 2rem;
}
.footer .mark {
  border: none;
}

nav ul, .sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  font-size: 1em;
  margin-bottom: var(--mid-spacing);
}

.nav-item {
  border-radius: 100px;
  margin-bottom: var(--small-spacing);
  border: 2px solid #CCDFF1;
  font-size: 16px;
  width: 80%;
}
.nav-item:hover {
  border: 2px solid var(--red);
}

.contact-links {
  font-weight: bold;
  margin-bottom: var(--small-spacing);
}

.contact-links a:first-of-type:after {
  content: ' |'
}

.ext-sprite {
  background-size: 34px;
}

.ext-twitter {
  margin-right: 20px;
}

.svg .ext-twitter, .svg .ext-github {
  display: inline-block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.svg .ext-twitter {
  width: 40px;
  height: 40px;
  background-position: 0 -26px;
  border-radius: 100px;
  margin-bottom: var(--small-spacing);
  border: 2px solid #CCDFF1;
}
.svg .ext-twitter:hover {
  border: 2px solid var(--red);
}

.svg .ext-github {
  width: 40px;
  height: 40px;
  background-position: 0 4px;
  border-radius: 100px;
  margin-bottom: var(--small-spacing);
  border: 2px solid #CCDFF1;
}
.svg .ext-github:hover {
  border: 2px solid var(--red);
}

.view-all-posts {
  margin-top: var(--small-spacing);
}

.main-footer {
  margin-top: var(--large-spacing);
  border-top: 1px dashed var(--maroon);
  padding-top: var(--small-spacing);
}
