{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

    <section class="main-content" role="main">



      <div id="content" class="content-inner">
        <header role="banner" class="main-header">{% include header.html %}</header>

        {{ content | expand_urls: root_url }}

          <aside class="sidebar">
            <section>
              <h1><a class="blog-subtitle" href="{{ root_url }}/posts">Recent Posts</a></h1>
              <ul id="js-recent-posts">
                {% for post in site.posts limit: site.recent_posts %}
                  {% if post.categories contains 'blog' %}
                    <li class="post">
                      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </section>

          </aside>

          <aside class="sidebar">
            <section>
              <h1><a class="blog-subtitle" href="{{ root_url }}/fewer-words">Fewer words</a></h1>
              <ul id="js-recent-posts">
                {% for post in site.posts limit: site.recent_posts %}
                  {% if post.categories contains 'fewer-words' %}
                    <li class="post">
                      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </section>

          </aside>

          <aside class="sidebar">
            <section>
              <h1><a class="blog-subtitle" href="{{ root_url }}/presentations">Recent Presentations</a></h1>
              <ul id="js-recent-posts">
                <li class="post">
                  <a href="{{ root_url }}/a-maintainable-style-guide/#building-a-component-api">Reducing Complexity with a Component API</a>
                </li>
                <li class="post">
                  <a href="{{ root_url }}/presentations/front-end-ops">Front End Ops</a>
                </li>
                <li>
                  <a href="http://www.slideshare.net/ianfeather/fel-presentation">Web Fonts and the Critical Path</a>
                </li>
              </ul>
            </section>

          </aside>

      </div>



    </section>
    <!-- <section class="back">test</section> -->

    <footer class="main-footer" role="contentinfo">{% include footer.html %}</footer>


</body>

</html>
