{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

  <div class="body">
    <section class="main-content" role="main">
      <div id="content" class="content-inner">
        <article class="blog-area pictorial" role="article">
          {% include pictorial.html %}
        </article>
      </div>
    </section>
  </div>
  <footer class="main-footer" role="contentinfo">
    {% include big-footer.html %}
  </footer>

</body>

</html>
